Django==4.2.28
asgiref==3.11.1
sqlparse==0.5.5
tzdata==2025.3

# Database
mysqlclient==2.2.8

# Forms / UI
django-crispy-forms==2.5
crispy-bootstrap5==2025.6
Pillow==12.1.1

# Config / env
python-decouple==3.8

# Seeding
Faker==40.4.0

# Utilities
python-dateutil==2.9.0.post0
requests==2.32.5
